<section
    class="bg-gray-700 bg-opacity-30 p-4"
    [ngClass]="{hidden: anyTodos$ | async}">
    <label for="toggle-all" class="flex items-center gap-4">
      <input
            type="checkbox"
            id="toggle-all"
            class="peer toggle toggle-md toggle-success"
            [checked]="(areSelectedTodos$ | async)"
            (change)="selectAllTodos($event)"/>
      <span class="peer-checked:text-success">Select all as done!</span>
    </label>
  <ul>
    <app-todo
      *ngFor="let todo of visibleTodos$ | async"
      [todo] = "todo"
      [isEditing]="editingId === todo.id"
      (setEditingId)="setEditingId($event)">
    </app-todo>
  </ul>
</section>
